@font-face 
{
	font-family: 'rubik-light';
	src: url('../fonts/Rubik-Light.ttf');
}

@font-face 
{
	font-family: 'rubik';
	src: url('../fonts/Rubik-Regular.ttf');
}

/****** Home Page ******/
.main-container{
	padding:0;
	/*width:100%;*/
}

.clearfix{
	clear:both;
}

/* Center Container  */
.center-container{
	width:80%;
	margin:0 auto;
	
}
/****** Home Page ******/

/****** Header ******/
.header
{
	
	
	padding:0;
}
/* Top Bar */

.top-text{
	font-family:"rubik";
	font-size:16px;
	color:#fff;
	text-decoration:underline;

}
.top-bar{

	padding:0;
	width:100%;
	background-color: #d63433;
	
	text-align:center;
	padding-top:15px;
	
}

/* Logo Section */
.slogan-container{
	text-align:center;
	/*position:relative;*/
	min-height:154px;
}
.ribbon-wrapper{
	position: relative;
	top:-3px;
	margin-top:-150px;
	margin-left:-75px;
	min-height:154px;
}
.logo-img{
	border:1px solid #c8c4c2;
}
.check-in{
	margin-left:-50px;
}
.league-hub img
{
	display:table;
	margin:0 auto;
}

.mailing-list{
	padding-right:18px;
	padding-top:22px;
	font-family:"rubik";
	font-size:18px;
	color:#888;

}
.social-icons{
	padding-right:12px;
}
.logo-section{
	
	margin-top:50px;
}
.check-in{
	padding:5px 0 0 0;
}

.slogan{

	position:relative;
	display:inline-block;
	padding:0px;
	
	height:154px;
	/*border:1px solid #c8c4c2;*/
}
.check-in > a {


	text-decoration:underline;
	color:#584d92;
	margin-top:10px;
	padding:0;
}
/*.logo-ribbon{

    position: absolute;
    
}*/
.pull-right{
	float:right;
}
.social-fonts{

	text-align:center;
	width:45px;
	height:45px;
	margin-right:5px;
	padding:5px;
	border-radius:10px;
	border:2px solid #c8c4c2;
	display:inline-block;
	font-size:22px;
	color:#c8c4c2;
}
.social-btn{
	padding-top:40px;
	
}
.btn-signIn,.btn-signUp{
	width:120px;
	border-radius:20px;
	border:black; 
}
.btn-signIn{


	background-color:#d4433f;
}

.btn-signUp{
	background-color:#31cae3;
}
.link-buttons{
	text-align:center;
	display:table;
	margin:0 auto;
}

.toggle-button .icon-bar{
	background-color:#c8c4c2;
}
.nav-section{

	border-top:1px solid #c8c4c2;
	text-align: center;
	margin-top:30px;
}
.navbar-center
{
	float:none;
	display:inline-block;
	text-align:left;
}
.navbar-center > li
{
	font-size:14px;
	padding-right:50px;
	
	font-family:"rubik";
	color:#c8c4c2;
}
.navbar-container{
	border:white;
	background-color: white;
	margin:0;
}
.navbar-default #toggle-button{

	border-color:white;
	float:none;
	text-align: center !important;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#584d92;
}
.navbar-default .navbar-toggle .icons{
	width:25px;
	height:4px;
	border-radius:3px;
	background-color:#c8c4c2;
}
.navbar-default #toggle-button #menu-lines{
	display: inline-block;
}
.menu{

	font-size:25px;
	padding-right:50px;
	margin-left:4px;
	font-family:"rubik";
	color:#c8c4c2;
}
.navbar-default #toggle-button:hover,
.navbar-default #toggle-button:focus
{

	background-color:white;
}

/****** Header ******/

/****** Content Section ******/

.flexslider #banner1{
	background-image: url("../images/banner_imag1.jpg");
	background-size:cover;
	background-position:50% 0;
}
.flexslider #banner2{
	background-image: url("../images/banner_imag2.jpg");
}
.flexslider #banner3{
	background-image: url("../images/banner_imag3.jpg");
}
.flexslider .container{
	padding-top:27%;
	padding-bottom:4%;
	padding-right:7%;
	padding-left:7%;
	/*width:70%;*/
	position: relative;
	
}
.flexslider .container #banner-heading{
	font-family: "rubik";
	color:#555555;
	letter-spacing: 2px;
	font-size:18px;
	padding-top:3%;
	padding-bottom:3%;
}
.flexslider .container #banner-text{
	font-family: "rubik";
	color:#c8c4c2;
	
	font-size:15px;
	padding-top:1%;
	padding-bottom:1%;
}
.flex-control-nav {
 	bottom: 10%;
	position: absolute;
	left: 30%;

	z-index: 1000;
}
/*flexslider .container:after{
	content: '';
	position: absolute;
	
	top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border:red 2px solid;
}*/
.banner-content{
	background-color: white;
	/*padding-top:10%;*/
	outline:2px solid #fff;
	outline-offset:7px;
	padding-top:2%;
	padding-left:2%;
	padding-bottom:3%;
	padding-right:2%;
}

.content-section{
	margin-bottom:5%;
}
.banner-img{
	position:relative;
	/*width:1320px;*/
}
.banner-container {
    position: ab;
    height: 200px;
    width: 200px;
    background-color: #DCDCDC;
    padding: 4px;
}
.banner-container:after {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    bottom: -7px;
    right: -7px;
    border: 2px #888 solid;
}
/*.banner-section{
	padding-bottom:100px;
}*/
.leagues-title{
	text-align:center;
	padding-bottom: 40px;
	
}
.leagues-title h3{
	color:#555555;
	font-family: "rubik";
}

/*.leagues{

	text-align:center;
}
*/
.leagues-container{
	padding-left:6%;
	padding-right:6%;
}
.leagues-img{
	border:1px solid #c8c4c2;
	padding:14% 2%;
	text-align:center;
	width:180px;
	position: relative;
	border-radius: 10px;
	margin:10px auto;
}
.league-ribbon-wrapper{
	position:absolute;
	top:0;
	left: 0;
	width:36%;
}
.flag_img{
	/*width: 50%;*/
}
.category-img{
	width:50%;
	padding-bottom:15%;
}
.categories-stats p{
	margin:0;
	color:#796f7e;
	font-family:"rubik";
	font-size:11px;
	letter-spacing:1px;
}
.category{
	margin:0;
}
.box{
	position: relative;
	padding:2% 2%;
}
/*
.open-leagues{
	padding-right:70px;
	padding-left:70px;
}*/
/****** Content Section ******/


/****** Footer Section ******/
.footer{
	background-color: black;
	padding-top:20px;
	padding-bottom:20px;
	/*margin-top:200px;*/
}
.footer-inner{
	margin:0;
}
.menu-bottom{
	text-align:center;
}
.menu-bottom ul{
	list-style:none;
	text-align:left;
	display:inline-block;
	line-height:34px;

}
.bottom-text a, .request-league , .copyright{
	font-family: "rubik-light";
	color:#ccc;
	font-size:15px;
	text-decoration: none;
}
.bottom-text a:hover{
	color:white;
}
.request{
	text-align:center;
	padding-top:50px;

}
.request-btn{
	background-color:#fff;
	border-radius:27px;
	color:#000;
	width: 220px;
	height: 38px;
	border:1px solid #000;
}
.banner-btn{
	background-color:#31cae3;
	width:163px;
	border-radius:27px;
	color:#fff;
	
	height: 38px;
	
}
.copyright{
	text-align:center;
}
.logo-bottom{
	text-align:center;
	padding-top: 60px;
}
.request-content{
	/*text-align:center;*/
}

/****** Footer Section ******/

@media only screen and (max-width:1200px) {
  .navbar-center > li
	{
		
		padding-right:20px;
		
		
	}
	
}
/*@media (min-device-width:990px) and (max-device-width:1200px) {
  
	.leagues-container{
		width:60%;
		margin : 0 auto;
	}	
}*/
@media screen and (max-width:992px) {
  .navbar-center > li
	{
		
		padding-right:5px;
		
		
	}
}
@media screen and (max-width:992px) {
  .navbar-center > li
	{
		
		padding-right:5px;
		
		
	}
	.leagues-img{
		padding:7% 2%;
	}
	
}
@media screen and (max-width:768px) {
 	 .banner-content 
	{
		top:55%;
		
	}
	.menu-bottom ul,.navbar-center{
		
		text-align:center;
		

	}
	.leagues-img{
		padding:7% 2%;
	}
	.request-content, .login-bottom{
		padding-top:50px;
	}
}
